
	<h2>Trains Report List</h2><hr/>
	<div class="container">
		<select class="form-control">
			<option></option>
		</select><br/>
	</div>
	{% if treports %}
		<div class="table-responsive">
			<table class="table table-bordered">
				<tr class="bg-primary">
					<th>Train Number</th>
					<th>Train Name</th>
					<th>SEQ</th>
					<th>Arrival time</th>
					<th>Departure time</th>
					<th>Distance</th>
					<th>Source station code</th>
					<th>Source station Name</th>
					<th>Destination code</th>
					<th>Destination name</th>
					<th>Day</th>
					<th>SL</th>
					<th>1A</th>
					<th>2A</th>
					<th>3A</th>
				</tr>
				{% for report in treports %}
					<tr>
						<td>{{report.trainNumber}}</td>
						<td>{{report.trainName}}</td>
						<td>{{report.SEQ}}</td>
						<td>{{report.arrivalTime}}</td>
						<td>{{report.departureTime}}</td>
						<td>{{report.distance}}</td>
						<td>{{report.sourceStation}}</td>
						<td>{{report.sourceStationName}}</td>
						<td>{{report.destinationCode}}</td>
						<td>{{report.destinationName}}</td>
						<td>{{report.day}}</td>
						<td>{{report.SL}}</td>
						<td>{{report.C1A}}</td>
						<td>{{report.C2A}}</td>
						<td>{{report.C3A}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% else %}
		<div>SomeThing WentWrong..!</div>
	{% endif %}